# Local development
VITE_SOCKET_URL=http://localhost:3001
VITE_AUTH_URL=http://localhost:3004
VITE_SCORE_URL=http://localhost:3003
VITE_PUZZLE_API_URL=http://localhost:3002

# Render production examples
# VITE_SOCKET_URL=https://URL-DO-GAME-SERVICE-RENDER
# VITE_AUTH_URL=https://URL-DO-AUTH-SERVICE-RENDER
# VITE_SCORE_URL=https://URL-DO-SCORE-SERVICE-RENDER
# VITE_PUZZLE_API_URL=https://URL-DA-PUZZLE-API-RENDER
